.DS_Store
.dat*.*
.repl_history
build
resources/*.nib
resources/*.momd
resources/*.storyboardc
*.lock
Archive
*.sublime-project
*.sublime-workspace

# Vendor
vendor/Pod*
vendor/*/.build
vendor/*/build-*
vendor/*/*.bridgesupport
*~.nib
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
*.moved-aside
/Provisioning/